body, html{
    height: 100%;
    position: relative;
}

h1 {
	font-size: 4em;

	@include respondTo(mobileScreen) {
		font-size: 2.5em;
	}
}

h2 {
	font-size: 2.75em;
	margin: 0px;

	@include respondTo(mobileScreen) {
		font-size: 1.5em;
	}
}

h5 {
	font-size: 2.5em;
}

p {
	font-size: 1.5em;
	line-height: 2em;
	margin: 0px;
}